<p id="notice"><%= notice %></p>

<td><%= @group.name %></td>
<td><%= @group.icon %></td>
<td><%= @group.created_at %></td>

<div>
<% @group.payments.includes(:author).each do |payment| %>
  <%= payment.name %>
  <%= payment.author.name %>
<% end %>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', groups_path %> |
<%= link_to 'Home', root_path %>
