<div class="new-bg-grey height-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter your Email', class: 'form-control mt-4' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Enter your Password ', class: 'form-control' %>
    </div>

    <br>
    <p class="text-danger m-auto text-center"><%= alert %></p>
    <br>

    <% if devise_mapping.rememberable? %>
      <div class="field d-flex justify-content-center">
        <%= f.check_box :remember_me, class: 'form-check-input me-1' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <br>

    <div class="actions">
      <%= f.submit "Log In", class: 'fixed-bottom btn-height w-100 new-bg-green text-white rounded-top border-none fs-5' %>
    </div>
  <% end %>
  <div class="field d-flex align-items-center flex-column">
    <%= render "devise/shared/links" %>
  </div>


</div>
