<p id="notice"><%= notice %></p>

<h1>Ungrouped Payments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"><%= @total_amout %></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to "#{payment.name} $ #{payment.amount} #{payment.created_at.strftime("%d %B %Y")}", payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
<%= link_to 'Home', root_path %>
