<nav class="navbar navbar-expand-lg navbar-dark new-bg-blue py-3">
  <div class="container-fluid justify-content-between py-1">
    <button class="navbar-toggler border-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand text-white text-uppercase fs-6">My Expenses</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link text-white text-decoration-none' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Leave App', destroy_user_session_path, method: :delete,  class: 'nav-link text-white text-decoration-none' %>
        </li>

      </ul>
    </div>
    <i class="fas fa-search text-white"></i>
  </div>
  <div class="container-fluid justify-content-center py-1">
    <ul class="nav justify-content-center">
      <li class="nav-item text-white-50 me-1">
        <%= link_to_unless_current('Payments', payments_path,  class: 'text-white text-decoration-none') %> |
      </li>
      <li class="nav-item text-white-50 mx-1">
        <%= link_to_unless_current('External Payments', ungrouped_payments_path,  class: 'text-white text-decoration-none') %> |
      </li>
      <li class="nav-item text-white-50 ms-1">
        <%= link_to_unless_current('Categories', groups_path,  class: 'text-white text-decoration-none') %>
      </li>
    </ul>
  </div>
</nav>
